/* Reset & Grundstyles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white; /* Standardtextfarbe */
    background-color: #23327B; /* Hintergrund für den Body */
}

/* Navigation */
nav {
    background-color: #23327B;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 200px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: text-decoration 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

/* Header */
header {
    background-color: #354DC5;
    padding: 100px 20px;
    font-size: 60px;
    text-align: center;
}

/* Überschriften */
h2 {
    background-color: #23327B;
    padding: 10px 20px;
    margin: 30px 270px; /* Oben/Unten 30px, links/rechts 100px */
    border: 4px solid black;
    text-align: center;
}

/* Tabellen */
table {
    background-color: #23327B;
    width: 100%;
    border-collapse: collapse;
    padding: 50px
}

.TabelleWebsite{
    margin: 50px;
}

.TabelleSozial {
    margin: 50px;
}

th {
    padding: 10px;
    font-family: 'Adamina', serif;
}
.SpalteSozialStern {
    padding: 10px;
    padding-right: 33px;
}

.gelberstern {
    color: yellow;
}

.normalstern {
    color: white;
}

/* HR-Element */
hr {
    border: none;
    height: 4px;
    background-color: black;
    margin: 20px 0;
    border-radius: 2px;
}

/* Footer */
footer {
    background-color: #354DC5;
    padding: 50px;
}